@import "tailwindcss";
// @import "tw-animate-css";

body {
  background: $white;
  color: $black;
  font-family: var(--font-poppins);
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $gray-FA;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-bg;
    outline: 1px solid $main-bg;
    @include borderRadius(4px);
  }
}

.primaryColor {
  color: $primary;
}
